.app-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .app-item {
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    flex-wrap: wrap;
    position: relative;
    background: #f2ffff;
    margin: 12px;
    border-radius: 10px;
    // box-shadow: rgba(112,128,175,0.2) 0px 16px 24px 0px;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(112, 128, 175, 0.2) 0px 16px 24px 0px;
    }
    p {
      margin-bottom: 13px;
    }
    .app-edit {
      position: absolute;
      top: 3px;
      right: 6px;
      opacity: 0.5;
    }
  }
}

