.edit-wrap {
  width: 30%;
  height: 100%;
  overflow: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.form-wrap {
  flex: 1;
  overflow: auto;
  padding-bottom: 15px;
  
  :global {
    .ant-form-item-label {
      padding: 0;
    }
    
    .ant-form-item {
      margin-bottom: 12px;
      
      .ant-form-item-label > label {
        height: 32px;
      }
    }
  }
}

.filed-item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 12px 0;
}

.desc-item {
  text-align: left;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
